<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
	  <sectionGroup name="secretManagerActive">
		  <section name="Password" type="System.Configuration.DictionarySectionHandler"/>
	  </sectionGroup>

	  <sectionGroup name="DatabaseConfigs">
		  <section name="MySQL-local" type="System.Configuration.DictionarySectionHandler"/>
	  </sectionGroup>
	  
  </configSections>
	<secretManagerActive>
		<Password>
			<!--Only 1 Secret Manager can be Active-->
			<!--3 options, Active means selected. Enabled means will store data but not query from there. Disabled means Not storing/querying-->
			<add key = "SecretManager.Authenticator.SecretManagers.FileSecretManager" value = "Active" />
		</Password>
	</secretManagerActive>
	<DatabaseConfigs>
		<MySQL-local>
			<add key = "server" value = "127.0.0.1" />
			<add key = "username" value = "root" />
			<add key = "password" value = "" />
		</MySQL-local>
	</DatabaseConfigs>
</configuration>