<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="secretManagerActive">
      <section name="Password" type="System.Configuration.DictionarySectionHandler"/>
    </sectionGroup>
  </configSections>
	<secretManagerActive>
		<Password>
			<!--Only 1 Secret Manager can be Active-->
			<!--3 options, Active means selected. Enabled means will store data but not query from there. Disabled means Not storing/querying-->
			<add key ="SecretManager.Authenticator.SecretManagers.FileSecretManager" value = "Active" />
		</Password>
	</secretManagerActive>
</configuration>